* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: "chiller", sans-serif;
    background-color: black;
}

h2 {
    font-size: 10rem;
    font-weight: bold;
}

.spook {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #ff8001;
    user-select: none;
    pointer-events: none;
}

.countdown {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.day,
.hour,
.minute,
.second {
    font-size: 5rem;
    text-shadow: 0 0 20px red, 0px 0px 13px red;
    min-width: 75px;
}

/*@keyframes Candle_Flicker {
    0%   { filter:brightness(1); }
    25%   { filter:brightness(1.5); }
    75%   { filter:brightness(2) hue-rotate(4deg); }
    100% { filter:brightness(1); }
  
}*/

@keyframes Candle_Flicker{
    0% { filter:brightness(0.5);}
    5% { filter:brightness(0.5)}
    15% { filter: brightness(1.5)}
    18% {filter:brightness(0.5);} 
    20% { filter:brightness(0.5)}
    25% { filter:brightness(1.5);}
    30% { filter:brightness(0.5)}
    35% { filter:brightness(1);}
    40% { filter:brightness(1.4);}
    45% { filter:brightness(0.5);}
    50% { filter:brightness(0.5);}
    55% { filter:brightness(0.5);}
    60% { filter:brightness(1.2);}
    75% { filter:brightness(1);}
    88% { filter:brightness(0.5);} 
    95% { filter: brightness(1);}
    100% { filter:brightness(0.5);}

}


.waiting{
    height: 35vh;
    filter:brightness(1);
    animation:Candle_Flicker 1950ms infinite;
}

.spider {
    width: 15vw;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 20%;
}

@font-face {
    font-family: 'chiller';
    src: url(styles/CHILLER.TTF);
    font-style: normal;
    font-weight: 100;
}

#ChatBox{
    position: absolute;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,56,9,1) 35%, rgba(34,169,187,1) 100%, rgba(0,95,255,1) 100%);
    color:ghostwhite;
    border-style: dotted;
    bottom:0px;
    border-radius: 15px 50px 0px 0px;
}
#ChatLog{
    height:140px;
    overflow-y: hidden;

}